# Firebase Configuration
FIREBASE_PROJECT_ID=

# Email Configuration (for reminders and booking notifications)
EMAIL_USER=rayandentalcare170@gmail.com
EMAIL_PASS= # Use an App Password if using Gmail
EMAIL_SERVICE=gmail
